body {
  margin: 0;
  font-family: "Nanum Myeongjo";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  background-color: whitesmoke;
}

p { font-size: clamp(1rem, 1.3vw, 2rem); font-family: "Nanum Myeongjo";}

/* body::before{
  'Adora Bouton'
  background-size: cover;
  background-image: url("https://img.freepik.com/premium-photo/flat-lay-beautiful-lilac-frame-concept_23-2148553247.jpg?w=2000");
  https://img.freepik.com/premium-photo/flat-lay-beautiful-lilac-frame-concept_23-2148553247.jpg?w=2000"
  https://i.pinimg.com/originals/21/e5/35/21e535e6bd61f63472828be094fd96c9.jpg
  https://s3.envato.com/files/203551143/105187.jpg
  https://motionarray.imgix.net/preview-798850-6xZnH68i3OOn8p8e-large.jpg?w=660&q=60&fit=max&auto=format
} */
/* 
linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)),
background-image: url("https://img.freepik.com/premium-photo/top-view-floral-background-photo-with-plenty-copy-space-perfect-website-backgrounds_763042-389.jpg?w=2000"); */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.image {
  border-radius: 8px;
  max-width: 300px;
  max-height: 280px;
}

.thumb {
  width: 18vw;
  height: 16vh;
}

.headerImage {
  width: 100%;
  height: 25vh;
}

.CardImage-hqCpvm {

  transform: scale(1,1);
}

.pf-c-tooltip__content{
  background-color: lightgreen !important;
  border: 1px solid black;
}

.active {
  background: white;
  color: #10b981;
  font-size: clamp(10px, 1.5vw, 18px);
}

.inactive {
  font-size: clamp(10px, 1.5vw, 18px);
}


.title {text-decoration: none;
   color:#4e4d52; font-weight: 400; 
   letter-spacing: 8px;
    font-size: 3vw; font-family:Nanum Myeongjo;
  }

nav {
  border: 1px solid lightgray;
  padding: 5px;
}


.rsvp {
    margin: auto;
    row-gap: 8px;
    display: grid;
    column-gap: 5px;
    grid-template-columns: repeat(2, minmax(140px, 1fr));
    padding: 3px;
}

input {
  font-family: "Nanum Myeongjo";
}

.input {
  display: block;
  font-size: clamp(0.75em, 1.1vw, 3em);
  width: clamp(10rem, 14vw, 22rem);
}

textarea {
  display: block;
  font-family: "Nanum Myeongjo";
}